<style>
    #rightArrow{
        right: 0px;
    }
    #leftArrow{
        left: 0px;
    }
    .arrow{
        color: rgba(0,0,0,0.3);
        font-size: 5em;
        position: fixed;
        clear: both;
        top: 50vh;
    }
    .arrow:hover{
        color:black;
        cursor:pointer;
    }
    #thumbsUp{
        bottom:0px;
        right:0px;
        top:inherit;
        color: rgba(0,0,0,0.3);
        font-size: 5em;
        position: fixed;
        clear: both;
    }
    #thumbsUp:hover{
        color:black;
        cursor:pointer;
    }

</style>
<div class = "arrow" id="leftArrow">
    &larr;
</div>
<div class = "arrow" id="rightArrow">
    &rarr;
</div>

<div id="thumbsUp">
    &#128077;
</div>

<script>
    
   
</script>